body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style: none; 
    padding-left: 5px; 
    margin-right: 20px;
}
li{
    margin-bottom: 10px;
}
a { 
    color:blue; 
    text-decoration: none;
}
p{
    text-align: justify;
}
span{
    color: blue;
}
figure img{
    width: 300px;
}
figure #imagem-maior{
    width: 600px;
    border: 1px solid #cdcdcd;
}

figure #trio-principal{
    width: 500px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo{
    width: 200px;
    border: none;
}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.ancoras {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.menu-navegacao {
    border-right: solid 1px #cdcdcd;
}
.imagens figure img{
    /* width: 300px; */
    height: 200px;
}

footer {
    display: flex;
    border-top: 1px solid #cdcdcd;
    justify-content: center;
}

.footer ul{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}