body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 180px;
}

header h1 {
    margin-left: 0;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button[type="submit"] {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.menu-principal {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-navegacao {
    border-right: solid 1px #cdcdcd;
    padding: 15px;
    margin-right: 2em;
    padding: 3em;
}

.ancoras {
    order: 2;
    grid-area: anchors;
    padding: 3em;
}

.menu-principal h2 {
    margin: 1em;
}

.content {
    margin: 3em;
}

.content p {
    margin: 2em;
}

.main {
    grid-area: main;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Seção principal */
.main h1,
.main h2,
.main h3 {
    font-family: 'Abril Fatface', serif;
    color: #1a1a1a;
}

.main p {
    text-align: justify;
    margin-bottom: 15px;
}

.main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Galeria de imagens */
#imagens {
    margin-top: 20px;
}

h1 {
    margin-left: 1em;
    font-family: 'Abril Fatface', serif;
    color: #1a1a1a;
    margin-bottom: 10px;
}

#imagens figure {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

figure img {
    width: 400px;
}

figure #imagem-maior {
    width: 700px;
    border: 1px solid #cdcdcd;
}

figure #trio-principal {
    width: 400px;
}

#imagens img {
    height: 200px;
    width: 300px;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

@media (max-width: 768px) {
    header {
        justify-content: flex-start;
    }

    .menu-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu-navegacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .ancoras{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}