body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 100%;
}

header .img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  width: 180px;
}

header h1 {
  margin-left: 0;
}

.bar {
  background-color: #f9f9fb;
  padding: 15px;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button[type="submit"] {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-bar ul {
  list-style: none;
}

.nav-links-desktop {
  padding: 15px;
  margin-right: em;
  padding: 1em;
}

.nav-links-desktop a:hover {
  color: #000;
}

.nav-anchors {
  padding: 1em;
}

.nav-bar h2 {
  text-align: center;
}

.content {
  margin: 1em;
}

.content p {
  margin: 2em;
}

.main {
  grid-area: main;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Seção principal */
.main h1,
.main h2,
.main h3 {
  font-family: "Abril Fatface", serif;
  color: #1a1a1a;
}

.main p {
  text-align: justify;
  margin-bottom: 15px;
}

.main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Galeria de imagens */
#imagens {
  margin-top: 20px;
}

h1 {
  margin-left: 1em;
  font-family: "Abril Fatface", serif;
  color: #1a1a1a;
  margin-bottom: 10px;
}

#imagens figure {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

figure img {
  width: 400px;
}

figure #imagem-maior {
  width: 700px;
  border: 1px solid #cdcdcd;
}

figure #trio-principal {
  width: 400px;
}

#imagens img {
  height: 200px;
  width: 300px;
}

/* footer */
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
}

/* menu hamburguer */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  flex-direction: column;
  align-items: center;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  width: 80%;
  list-style: none;
  padding: 0;
}

.nav-links-mobile li {
  border-bottom: solid 1px #787872;
  padding-bottom: 1rem;
}

.nav-links-mobile li,
.nav-links-mobile li a {
  color: #f9f9fb;
}

.hamburger,
.close {
  font-size: 24px;
  background: none;
  border: none;
  color: #787872;
  cursor: pointer;
  display: none;
}

.close {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  align-self: end;
}

.flex {
  display: flex;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
  }

  header figure {
    margin: 1em;
  }

  header .img-logo {
    display: flex;
    align-items: center;
  }

  header .logo {
    width: 100px;
  }

  .nav-links-desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-bar h2 {
    margin: 0.5em;
  }

  .nav-anchors {
    display: flex;
    flex-direction: column;
    width: 60%;
    list-style: none;
    padding: 0;
  }

  /* .nav-anchors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 0;
  } */

  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
  }
}
